@import './variables';

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $header-footer-color;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 4px;
    height: 40px;
    z-index: 10;
    outline: 1px solid grey;

    .header-left-icon {
        position: absolute;
        left: 10px;
    }

    .header-title {
        display: flex;
        justify-content: center;
        align-items: center;

        .header-medium-icon {
            margin-left: 10px;
            font-weight: lighter;
        }
    }

    .chat-title  {
        position: absolute;
        left: 50px;
    }


    .header-right-icon {
        position: absolute;
        right: 10px;
    }

    h1 {
        text-align: center;
        margin: 0;
    }

    .normal-btn {
        border: none;
    }

    .animation-btn {
        border: none;
        animation-duration: .2s;
        animation-name: showL;
    }
}