.homepage {
    margin-top: 50px;
    margin-bottom: 100px;

    .go-follow {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding-top: 80px;
        background-color: #EAF3FA;

        h3 {
            color: #00008b;
        }

        button {
            padding: 18px 32px;
            font-size: 20px;
        }
    }
}