.idea {
    margin: 30px auto;
    text-align: left;
    padding: 10px;
    box-shadow: 0 0 10px #efefef;
    max-width: 600px;

    .idea-header {
        display: flex;
        align-items: center;
        background-color: #EFEFEF;
        margin: -10px;
        padding: 0 10px;

        h4 {
            margin: 15px;
        }

    }

    h2 {
        padding: 4px 8px;
        border-radius: 8px;
        display: inline-block;
        background-color: #eff389;
        color: #000;
    }

    p {
        margin: 0;
        margin-bottom: 10px;
        padding: 10px;
        background-color: #eff389;
        border-radius: 8px;
        color: #000;
    }

    .date-container {
        display: flex;
        justify-content: flex-end;
        span {
            right: 0;
            font-size: 10px;
            margin-left: 5px;
        }
    }
}