.profile {
    background-color: #FFF;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .banner {
        width: 100%;
        height: 180px;
        background-color: #eff389;
        position: absolute;
    }

    .profile-img {
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: #CECECE;
        top: 150px;
        left: 10px;
        border-radius: 100px;
        border: 4px solid #FFF;
    }

    .profile-data {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 160px;
        right: 10px;
        background-color: #FFF;
        border-radius: 16px;

        .data {
            padding: 5px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;

            h4 {
                margin: 0;
            }
        }

        .btn-follow {
            position: absolute;
            padding: 8px;
            top: 50px;
            left: 0;
            right: 0;
        }
    }

    .profile-info {
        margin-top: 140px;
        text-align: left;
        padding: 0 20px;
        padding-top: 120px;
        //border-bottom: 3px solid $header-footer-color;
        padding-bottom: 20px;

        h3 {
            margin-bottom: -4px;
        }

        h4 {
            margin: 2px 0;
            color: #898989;
            font-weight: normal;
        }
    }

    .profile-section {

        button {
            margin-top: 0;
            width: 42%;
            background-color: transparent;
            border: 1px solid #24a0ed;
            color: #24a0ed;
        }
        .profile-ideas {
            margin-bottom: 100px;

        }
    }
}