.search {
    margin-top: 80px;

    .search-container {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        input {
            padding: 8px;
            border-radius: 4px 0 0 4px;
            min-width: 250px;
            max-width: 300px;
            border: 1px solid grey;
            margin: 2px 0 2px 0;

            &:focus {
                outline: 1px solid #343434;
            }
        }
    
        button {
            margin: 2px 0 2px 0;
            padding: 5px;
            border-radius: 0px 4px 4px 0;
        }
    }
    
    .suggestion-item {
        position: relative;
        min-width: 280px;
        max-width: 300px;
        background-color: #efefef;
        padding: 0 20px;
        margin: 10px;
        border-radius: 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition-duration: .4s;

        h4 {
            margin-left: 10px;
        }

        &:active {
            background-color: #DFDFDF;
        }

        .user-info {
            display: flex;
            position: absolute;
            right: 20px;

            p {
                margin: 0 4px;
                display: flex;
            }
        }
    }

    .suggestions {
        border-top: 1px solid grey;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: #00008b;
        }

        .suggestion-item {
            padding: 0 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            transition-duration: .4s;

            h4 {
                margin-left: 10px;
            }

            &:active {
                background-color: #DFDFDF;
            }
        }
    }
}