.settings {
    padding-top: 46px;
    nav {
        display: flex;
        flex-direction: column;
        border-top: 1px solid grey;
        
        li {
            display: flex;
            align-items: center;
            border-bottom: 1px solid grey;
            padding: 6px ;
            transition-duration: .1s;
            padding-left: 20px;

            p {
                margin-left: 10px;
            }

            &:active {
                background-color: #DEDEDE;
            }
        }
    }
}