@-webkit-keyframes showL {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showL {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lineL {
  0% {
    -webkit-transform: scaleX(0.3);
            transform: scaleX(0.3);
  }
  50% {
    -webkit-transform: scaleX(0.75);
            transform: scaleX(0.75);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes lineL {
  0% {
    -webkit-transform: scaleX(0.3);
            transform: scaleX(0.3);
  }
  50% {
    -webkit-transform: scaleX(0.75);
            transform: scaleX(0.75);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #efefef;
}

.footer nav .line-icon {
  -webkit-animation-duration: .1s;
          animation-duration: .1s;
  -webkit-animation-name: lineL;
          animation-name: lineL;
  border-top: 5px solid #000;
}

.footer nav .footer-icon {
  padding: 16px 30px;
}

.footer nav .active {
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-name: showL;
          animation-name: showL;
  margin-top: -5px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: black;
  background: white;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.login {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

.login h1 {
  margin: 20px;
}

.login form {
  width: 250px;
}

.login form input {
  width: 100%;
  background-color: #F6F6F6;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #CDCDCD;
  border-radius: 2px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.login form input:focus {
  outline: 1px solid #343434;
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

.login form button {
  color: #FFF;
  background-color: #24a0ed;
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 108%;
  margin-top: 10px;
  margin-bottom: 30px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  font-size: 16px;
}

.login form button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.login form .password-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.login form .password-container input {
  margin: 0;
  margin-right: -18px;
}

.login form .password-container .showpass-icon {
  position: absolute;
  right: -10px;
}

.login form .password-container:hover {
  cursor: pointer;
}

.login .su {
  color: #24a0ed;
}

.login .su:hover {
  cursor: pointer;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #efefef;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px;
  height: 40px;
  z-index: 10;
}

.header h1 {
  text-align: center;
  margin: 0;
}

.header .normal-btn {
  border: none;
}

.header .animation-btn {
  border: none;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-name: showL;
          animation-name: showL;
}

.profile {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=index.css.map */